<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${topic.name}">Document</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>

<body>
<div class="container">

    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <div th:replace="fragments.html :: header__nav"></div>
    </header>

    <main class="main-content">
        <p class="welcome">Welcome to Surviving Coding Boot Camp, a blog dedicated to helping you get through boot camp and on to the
            other side.</p>
        <section class="main-content__topics topics">
            <h2 th:text="${topic.name}" class="topic__title main-content__title">Topic Name</h2>
            <nav class="main-content__nav topics__nav">
                <a th:each="post: ${topic.posts}"
                   th:text="${post.title}"
                   th:href="'/posts/'+${post.id}"
                   href="#"
                   class="topics__nav-link">
                </a>
            </nav>

            <h2 class="topics__title main-content__title">Create a new post</h2>
<!--            <form th:action="'/topics/' + ${topic.id} + '/addPost'" method="post">-->
<!--                <br>-->
<!--                <label for="author">Author: </label>-->
<!--                <br>-->
<!--                <textarea type="text"-->
<!--                          name="author"-->
<!--                          id="author"-->
<!--                          rows="1"-->
<!--                          cols="50"-->
<!--                          placeholder="Author">-->
<!--                </textarea>-->
<!--                <br>-->

<!--                <label for="author">Title: </label>-->
<!--                <br>-->
<!--                <textarea type="text"-->
<!--                          name="title"-->
<!--                          id="title"-->
<!--                          rows="1"-->
<!--                          cols="50"-->
<!--                          placeholder="Title">-->
<!--                </textarea>-->
<!--                <br>-->

<!--                <label for="post">Post: </label>-->
<!--                <br>-->
<!--                <textarea type="text"-->
<!--                        name="post"-->
<!--                        id="post"-->
<!--                        rows="4"-->
<!--                        cols="80"-->
<!--                        placeholder="Post">-->
<!--                </textarea>-->
<!--                <br>-->
<!--                <button type="submit">Submit</button>-->
<!--            </form>-->

            <div th:replace="fragments.html :: topicForm"></div>


        </section>
    </main>

</div>
</body>

</html>