<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.title}">Document</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
    <div class="container">
        <header class="header">
            <h1 class="header__title">Surviving Coding Boot Camp</h1>
            <div th:replace="fragments.html :: header__nav"></div>
        </header>

        <main class="main-content">
            <p class="welcome">Welcome to Surviving Coding Boot Camp, a blog dedicated to helping you get through boot camp and on to the
                other side.</p>
            <section class="main-content__topics topics">
                <h2 class="topics__title main-content__title" th:text="${post.title}">Post Title</h2>
                <h3 class="topics__title main-content__title" th:text="${post.author}">Post Author</h3>
                <nav class="main-content__nav topics__nav">
                    <p th:text="${post.content}">
                        Post Content
                    </p>
                </nav>

                <h2 class="topics__title main-content__title">Assigned Hashtags</h2>
                <nav class="main-content__nav topics__nav">
                    <a th:each="hashtag: ${post.hashtags}"
                       th:text="${hashtag.name}"
                       th:href="'/hashtags/'+${hashtag.id}"
                       class="topics__nav-link">
                        Hashtags
                    </a>
                </nav>

                <div th:replace="fragments.html :: hashtagForm"></div>

            </section>


        </main>
    </div>

</body>

</html>